/* GERAL */

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #d7182e;
  color: #383434;
}

.container {
  padding: 20px 20px 0px 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.title {
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
}

/* HEADER */

header {
  background-color: #f2b138;
  border-radius: 0 0 20px 20px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.menu {
  height: 90px;
  background-color: #e7e7e7;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  border-radius: 0 0 20px 20px;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.menu a {
  color: #f2b138;
  font-family: monospace;
  font-size: 18px;
  border-bottom: 2px solid #e5132c;
  padding: 6px;
  transition: 0.5s ease-out;
}

.menu a:hover {
  background-color: #e5132c;
  border-radius: 8px;
}

.menu img {
  height: 70px;
}

.menu .list {
  width: 35px;
  height: 35px;
  background-color: #e09914;
  padding: 10px;
  border-radius: 20px;
  display: none;
}

.menu .list:hover {
  cursor: pointer;
}

.ativar {
  display: block;
}

.number {
  text-align: center;
  align-content: center;
  height: 50px;
  font-size: 30px;
  font-weight: 600;
  padding: 5px 0;
}

.number span {
  font-family: "Rubik", sans-serif;
  display: inline-block;
  margin-right: 20px;
  background: linear-gradient(#e5132c, #e09914);
  color: #f2b138;
  width: 35px;
  height: 35px;
  border: 3px solid #e7e7e7;
  border-radius: 50%;
  box-shadow: 3px 3px 8px #252424;
  transition: 0.5s ease-out;
}

.number span:last-child {
  margin-right: 0;
}

.number span:hover {
  color: #e5132c;
  background: #f2b138;
}

/* PRAZER, GABI */

.bio {
  background: linear-gradient(#f2b138, #e5132c);
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
  padding-top: 160px;
}

.bio-img {
  height: 400px;
  width: auto;
  align-self: end;
}

.bio-perfil h1 {
  margin-bottom: 20px;
}

.bio-perfil {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 30px;
  margin: 30px;
  border-radius: 10px;
  font-family: "Nunito", Helvetica, Arial, sans-serif;
}

/* PROPOSTAS */

.propostas {
  background-color: #e7e7e7;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}

.faq-lista {
  margin-bottom: 40px;
  margin-left: 50px;
}

.faq-lista dt {
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: #fc3903;
}

.faq-lista dt::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: #fb5;
}

.faq-lista dd {
  font-family: "Fira Sans", Arial, sans-serif;
  color: #262323;
  margin: 10px 0px 0px 30px;
}

.js-accordion dd {
  display: none;
}

.js-accordion dt::after {
  content: " ⬎";
}

.js-accordion dt.ativo::after {
  content: " ⬏";
}

.js-accordion dd.ativo {
  display: block;
}

dd :nth-child(odd) {
  background-color: #b3b1b1;
  padding: 10px;
  border-radius: 4px;
}

dd :nth-child(even) {
  padding: 10px;
}

/* GALERIA */

.galeria {
  text-align: center;
  overflow: visible;
  overflow-x: auto;
  color: #383434;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.galeria::-webkit-scrollbar {
  width: 5px;
}

.galeria::-webkit-scrollbar-track {
  background-color: #d7182e;
}

.galeria::-webkit-scrollbar-thumb {
  background-color: #e09914;
  border-radius: 10px;
  border: 3px solid #d7182e;
}

.galeria li img {
  width: 180px;
  padding: 10px;
  border-radius: 20px;
}

.galeria ul {
  display: flex;
}

.motivos {
  padding: 20px;
  margin: 0 15px 0 15px;
  align-content: center;
  text-align: center;
  font-size: 22px;
}

.motivos p {
  display: none;
}

.motivos p.ativar {
  display: block !important;
}

.motivos-h2 {
  margin-top: 20px;
  position: relative;
}

.motivos-h2::after {
  content: "→";
  position: absolute;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  animation: seta 0.5s ease-in 0s infinite alternate;
}

@keyframes seta {
  from {
    margin-left: 20px;
  }
  to {
    margin-left: 30px;
  }
}

.galeria div {
  background-color: #d4a641;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 8px;
  height: 340px;
  border-radius: 20px;
}

/* MÍDIAS */

.midias {
  text-align: center;
  background: linear-gradient(#f2b138, #e5132c);
}

.midias-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Nunito", Helvetica, Arial, sans-serif;
}

.santinhos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: end;
  gap: 30px;
  padding-bottom: 40px;
  border-bottom: 2px solid #b3b1b1;
}

.midias .santinho {
  max-width: 300px;
}

.spotify {
  display: flex;
  align-items: center;
  gap: 15px;
}

.spotify-img {
  width: 30px;
}

.spotify a {
  color: black;
  font-size: 18px;
}

.spotify:hover {
  scale: 1.1;
}

/* REDES SOCIAIS */

.social {
  background-color: #e09914;
}

.redes {
  display: flex;
  gap: 50px;
  justify-content: center;
  padding: 30px;
}

.rede {
  display: flex;
  align-items: center;
  gap: 15px;
}

.rede:hover {
  scale: 1.1;
}

.rede a {
  font-size: 20px;
  font-weight: bold;
  color: #e5132c;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 1100px) {
  .midias-body {
    max-width: 350px;
    margin: 0 auto;
  }
}

@media (max-width: 1000px) {
  .menu-links {
    justify-content: center;
  }
  .menu-links a {
    padding: 4px;
  }
}

@media (max-width: 860px) {
  .bio {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .bio img {
    order: 1;
    align-self: center;
    max-height: 300px;
  }
}

@media (max-width: 680px) {
  .menu {
    display: flex;
  }
  .menu .list {
    display: block;
  }
  nav {
    display: none;
    flex-direction: column;
    position: absolute;
    padding: 30px;
    width: 25vw;
    height: calc(100vh - 100px);
    top: 90px;
    text-align: center;
    right: 0;
    z-index: 1;
    background-color: rgba(55, 55, 55, 0.9);
  }
  .menu-links li {
    margin-bottom: 30px;
    line-height: 1.8;
  }
}

@media (max-width: 580px) {
  .title {
    font-size: 23px;
  }
  .propostas {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .propostas img {
    justify-self: end;
  }
  nav {
    top: 75px;
  }
  .faq-lista {
    margin-bottom: 0px;
    margin-left: 10px;
  }
}

@media (max-width: 450px) {
  .menu {
    height: 75px;
  }
  .number {
    height: 40px;
  }
  .number {
    font-size: 25px;
    padding: 5px 0;
  }
  .number span {
    width: 30px;
    height: 30px;
  }
  .faq-lista dt {
    font-size: 18px;
  }
  @keyframes seta {
    from {
      margin-left: 5px;
    }
    to {
      margin-left: 10px;
    }
  }
  .title {
    font-size: 22px;
  }
  .redes {
    gap: 20px;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  .rede a {
    font-size: 18px;
  }
}
@media (max-width: 390px) {
  .faq-lista dt {
    font-size: 17px;
  }
}
